<div class="card mb-4 box-shadow">
  <img class="card-img-top" [src]="product?.imageSrc">
  <div class="card-body">
    <ng-content select="[content=title]"></ng-content>
    <ng-content select="[content=description]"></ng-content>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-muted">
        {{ product?.likesNo || '-' }} likes
      </small>
      <small class="text-muted">
        {{ product?.commentsNo }} comments
      </small>
      <small class="text-muted">
        {{ product?.price | currencyFormatter: 'EUR' }} 
      </small>
      <button class="btn btn-primary" (click)="buttonClickHandler()">More details</button>
    </div>
  </div>
</div>
