<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Hello World!</h1>
    </div>
  </div>

  <!-- Product -->

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <!-- Add prodcuts src for the image -->
        <img class="card-img-top" >
          <div class="card-body">
            <h5>
              <!-- Add product title -->
            </h5>
            <p class="card-text">
              <!-- Add product description -->
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">
                <!-- Add number of likes from a product -->
              </small>
              <small class="text-muted">
                <!-- Add number of comments from a product -->
              </small>
              <button class="btn btn-primary">More details</button>
            </div>  
          </div>
      </div>
    </div>
  </div>

</div>