<div class="row">
  <div class="col-xs-12 col-sm-3">
    <wsh-products-sidebar [products]="products"></wsh-products-sidebar>
  </div>
  <div class="col-9">
      <label for="">Product Details</label>
      <br>
      {{ (selectedProductService.selectedProduct$ | async)?.title }}
  </div>
</div>

<!-- <div class="row">
    <div class="col-12 text-center">
        <label for="">Search</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-4"></div>
    <div class="col-4">{{ textStream$ | async }}</div>
    <div class="col-4"></div>
</div> -->
